.about {
}

.about__title {
  text-align: center;
  border-bottom: 1px solid black;
}
.about__header {
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;
}
.about__header_description {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-bottom: 225px;
}

.about__symptoms_description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about__symptoms_list {
  text-align: center;
  list-style-type: none;
  margin-bottom: 70px;
}
.about__symptoms {
  text-align: center;
}

.about__symptom {
  margin: 35px;
}

.about__other_symptoms {
  text-align: center;
}

.about__other_symptoms-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
}

.about__other_symptom {
  margin: 35px;
}

.about__other_symptom:last-child {
  margin-bottom: 215px;
}

.about__back-button {
  background: transparent;
  width: 30px;
  height: 30px;
}
